<form method="post" class=" form-inline form-horizontal" action="{{ path('project_session_delete', {'id': project_session.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project_session.id) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
