{% extends 'base.html.twig' %}

{% block title %}Project
{% endblock %}
{% block maintitle %}Project Details
{% endblock %}

{% block body %}


	<div class="card">

		<div class="card-header">
			<h3 class="card-title">Detail
			</h3>
			<div class="card-tools"></div>
		</div>
		<div class="card-body">
		{% for text in project2.fileContents  %}
			<p>
			{{text.content|raw}}
			</p>
		{% endfor %}
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script></script>
{% endblock %}
